on:
  workflow_dispatch:
  schedule:
    - cron:  '* * * * *'
jobs:
  latest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - lts/*
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - run: echo "y" | rm -Rf my-workspace

      - run: |
          npm i -g @angular/cli
          ng new my-workspace --create-application false
          cd my-workspace
          ng g application my-first-app --routing --style scss
          ng g library my-lib
      - uses: peter-evans/create-pull-request@v6
        with:
          title: latest
          body:
          commit-message: latest
          branch: latest
